@font-face {
  font-family: 'Neue-Montreal-Mono';
  src: url('/PPNeueMontrealMono-Book.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-mono";
  src: url('/RobotoMono-Regular.ttf') format('opentype');
}
@font-face {
  font-family: 'Neue-Montreal-Squeezed';
  src: url('/OTNeueMontreal-SemiBoldSqueezed.otf') format('opentype');
}

@font-face {
  font-family: 'OT-Bulb-Reverse';
  src: url('/OTBulbReverse-500.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'OT-Bulb-Reverse';
  src: url('/OTBulbReverse-200.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'NeueBit';
  src: url('/PPNeueBit-Bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'monument-grotesk-mono';
  src: url('/monument-grotesk-mono.ttf') format('truetype');
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: cyan;
}

::selection {
  color: black;
  background: cyan;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  background-color: white;
}

/* Hide scrollbar in Firefox */
html, body, .your-scrollable-element {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.html {
  background-color: white;
}

.body {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: black;
  font-family: 'Roboto-mono';
  font-size: 11px;
}

.clock {
  padding-bottom: 1rem;
  color: rgb(169, 169, 169);
}
/* Wrapper */

.Wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* center is larger */
  height: 100vh;
  overflow: hidden;
}

/* Main Content */

.MainContent {
  overflow-y: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.MainContent-middle{
  overflow-y: auto;
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.header {
  font-family: 'OT-Bulb-Reverse';
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 0.5rem;
}

.Header {
  margin-bottom: 1.5rem;
}

.Profile-header {
  margin-bottom: 3rem;
  font-family: 'OT-Bulb-Reverse';
  font-weight: 200;
  line-height: 90%;
  font-size: 40px;
}

.Container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-top: 1px solid lightgray;
}

.Profile {
  padding-top: 1rem;
  padding-bottom: 4rem;
  border-top: 1px solid lightgray;
}

.Profile-mobile {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.highlight {
  color: blue;
}

.underline {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.underline:hover{
  color: black;
}

.underline-1 {
  text-decoration: underline;

}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.MobileImage {
  margin-bottom: 1rem;
}

.Text {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-mono';
}

.Details {
  display: flex;
  flex-direction: row;
}

.Title {
  width: 50%;
}

.Caption {
  width: 50%;
}

.footer {
  color: rgb(169, 169, 169);
}

/* Profile */

.Underline {
  text-decoration: underline;
  color: black;
}

.underline.active {
  color:rgb(169, 169, 169);
  font-weight: bold;
}

.Buttons {
  padding-top:  8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
}

.Buttons:hover {
  color: white;
  background-color: black;
}

.NavBar {
  padding: 1rem;
  background-color: #fffff9;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100vw; /* prevents overflow beyond screen */
  box-sizing: border-box;
  z-index: 1000; /* make sure it stays on top */
}

.NavBarMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}



.modal {
  font-size: clamp(12px, 2vw, 16px);
  font-family: sans-serif;
  background: #1a1a1a;
  color: white;
  border-radius: 10px;
  width: 70%;
  max-width: 400px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: transparent;
  width: clamp(24px, 2vw, 28px);
  padding: 0;
  margin: 0;
  border: none;
  color: white;
  font-size:clamp(24px, 2vw, 28px);
  cursor: pointer;
}

.modal-input,
.modal-textarea {
  background: #1a1a1a;
  color: white;
  border: none;
  border-top: 1px solid #333;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 4px;
  font-size: clamp(12px, 2vw, 16px);
  font-family: sans-serif;
}

.modal-input:focus,
.modal-textarea:focus {
  outline: none;            /* Remove blue outline */ 
  background-color: #1a1a1a;   /* Keeps background from changing */
}

.modal-textarea {
  border-bottom: 1px solid #333;
  height: 300px;
  resize: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.h3{
  align-self: center;
}

.cancel-btn {
  background: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.send-btn {
  background: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.error-message {
  color: #ff4d4f;
  text-align: center;
  margin-top: -0.5rem;
  font-size: clamp(12px, 2vw, 16px);
}

.success-message {
  color: #4caf50;
  text-align: center;
  margin-top: -0.5rem;
  font-size: clamp(12px, 2vw, 16px);
}

.modal-error {
  color: rgba(255, 90, 90, 0.943);
}